force-app/main/default/flows/Declined_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Declined_Transactions_Action</name>
        <label>Declined Transactions Action</label>
        <locationX>414</locationX>
        <locationY>224</locationY>
        <actionName>DeclinedTransactionsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Declined_Transactions</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Declined_Transactions</name>
        <label>Assign Declined Transactions</label>
        <locationX>576</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>DeclinedTransactions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declined_Transactions_Action.declinedTransactions.declined_transactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Declined_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Declined_Transactions_To_Text</name>
        <label>Assign Declined Transactions To Text</label>
        <locationX>946</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>DeclinedTransactionsTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaToCreateDeclinedTransactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Declined_Transactions</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>FormulaToCreateDeclinedTransactions</name>
        <dataType>String</dataType>
        <expression>{!Loop_Declined_Transactions.amount.currency_code}&amp;&quot;         &quot;&amp;{!Loop_Declined_Transactions.amount.value}&amp;&quot;                         &quot;&amp;{!Loop_Declined_Transactions.attempt_time}</expression>
    </formulas>
    <interviewLabel>Declined Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Declined Transaction</label>
    <loops>
        <name>Loop_Declined_Transactions</name>
        <label>Loop Declined Transactions</label>
        <locationX>763</locationX>
        <locationY>229</locationY>
        <collectionReference>DeclinedTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Declined_Transactions_To_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Declined_Transactions_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Declined_Transactions_Details</name>
        <label>Declined Transactions Details</label>
        <locationX>967</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Transactions_Details</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>DeclinedTransactionsTextCollection</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Test_Account_number</name>
        <label>Test Account number</label>
        <locationX>178</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Declined_Transactions_Action</targetReference>
        </connector>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Test_Account_number</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DeclinedTransactions</name>
        <apexClass>DeclinedTransaction</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeclinedTransactionsTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
