force-app/main/default/flows/Intent_Payment_Decline_ATO_Decline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Transaction_ReAttempt_Assignments</name>
        <label>Transaction ReAttempt Assignments</label>
        <locationX>285</locationX>
        <locationY>157</locationY>
        <assignmentItems>
            <assignToReference>varTransactionReAttempt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionReAttempt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionReAttempt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to try now</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionReAttemptValue</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionReAttemptValue</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionReAttemptValue</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Intent</targetReference>
        </connector>
    </assignments>
    <description>ATO Decline subflow called by router</description>
    <interviewLabel>Intent - Payment Decline - ATO Decline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intent - Payment Decline - ATO Decline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>For after step up</description>
        <name>Reattempt_Transaction</name>
        <label>Reattempt Transaction</label>
        <locationX>461</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Intent</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIconPD</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varIntent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varRootCause</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Predicted Call Intent:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayTransaction</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varSelectedTransaction}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attempt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Was the Transaction Successful?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RetryTransaction</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varTransactionReAttempt</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varTransactionReAttempt</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>158</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Transaction_ReAttempt_Assignments</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Confirm_Intent</name>
        <label>Confirm Intent</label>
        <locationX>285</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>Step_Up</targetReference>
        </connector>
        <flowName>Intent_Payment_Decline</flowName>
        <inputAssignments>
            <name>Rootcause</name>
            <value>
                <elementReference>Rootcause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIconPD</name>
            <value>
                <elementReference>varIconPD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIntent</name>
            <value>
                <elementReference>varIntent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRootCause</name>
            <value>
                <elementReference>varRootCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedTransaction</name>
            <value>
                <elementReference>varSelectedTransaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTransactionReAttempt</name>
            <value>
                <elementReference>varTransactionReAttempt</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Rootcause</assignToReference>
            <name>Rootcause</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIconPD</assignToReference>
            <name>varIconPD</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIntent</assignToReference>
            <name>varIntent</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRootCause</assignToReference>
            <name>varRootCause</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedTransaction</assignToReference>
            <name>varSelectedTransaction</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Step_Up</name>
        <label>Step Up</label>
        <locationX>284</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Reattempt_Transaction</targetReference>
        </connector>
        <flowName>Step_Up_Framework</flowName>
        <inputAssignments>
            <name>varIconPD</name>
            <value>
                <elementReference>varIconPD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIntent</name>
            <value>
                <elementReference>varIntent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRootCause</name>
            <value>
                <elementReference>varRootCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedTransaction</name>
            <value>
                <elementReference>varSelectedTransaction</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OverrideAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Rootcause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hosts icon for payment decline in picklist card</description>
        <name>varIconPD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIncorrectIntentIcon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIntent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRootCause</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the transaction causing the payment decline</description>
        <name>varSelectedTransaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>For holding the list of transactions for teammate to select from</description>
        <name>varTransactionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>did the transaction go through successfully?</description>
        <name>varTransactionReAttempt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransactionReAttemptValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
