force-app/main/default/flows/Intent_Payment_Decline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignTransaction</name>
        <label>AssignTransaction</label>
        <locationX>284</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>varTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$500 USD Attempted Payment Attempted payment on AliExpress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$250 USD Attempted Payment Attempted payment on Amazon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$350 USD Attempted Payment Attempted payment on Amazon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Payment Decline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRootCause</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Root Cause: {!Rootcause}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIconPD</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:lower_flag</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncorrectDecline</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mark as Incorrect Intent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionReAttemptValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Switch to CS Compass</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blankCollection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCloseIcon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>action:close</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intent_Confirmation_Page</targetReference>
        </connector>
    </assignments>
    <description>Screens for confirming Payment Decline and viewing transaction list</description>
    <formulas>
        <name>varFormula</name>
        <dataType>String</dataType>
        <expression>&lt;b&gt;TEST&lt;b&gt;</expression>
    </formulas>
    <interviewLabel>Intent - Payment Decline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intent - Payment Decline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Contains the predicted intent and transaction list</description>
        <name>Intent_Confirmation_Page</name>
        <label>Intent Confirmation Page</label>
        <locationX>284</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayIntent</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIconPD</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varIntent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varRootCause</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Call Intent:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IncorrectIntent</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varIncorrectDecline</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Mark Intent Incorrect</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varTransactionReAttemptValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varCloseIcon</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>buffer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransactionList</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varTransactionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select the transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varSelectedTransaction</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>158</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AssignTransaction</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>blankCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayMode_Card</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Visual</stringValue>
        </value>
    </variables>
    <variables>
        <name>false</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>input_mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Visual Text Box</stringValue>
        </value>
    </variables>
    <variables>
        <name>OverrideAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Rootcause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Red X icon</description>
        <name>varCloseIcon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Hosts icon for payment decline in picklist card</description>
        <name>varIconPD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIncorrectDecline</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIntent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRootCause</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the transaction causing the payment decline</description>
        <name>varSelectedTransaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>For holding the list of transactions for teammate to select from</description>
        <name>varTransactionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>did the transaction go through successfully?</description>
        <name>varTransactionReAttempt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>for subvalue</description>
        <name>varTransactionReAttemptValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>visualTextBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Visual Text Box</stringValue>
        </value>
    </variables>
</Flow>
