force-app/main/default/flows/Launcher_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Account_Number</name>
        <label>Get Account Number</label>
        <locationX>241</locationX>
        <locationY>280</locationY>
        <actionName>GeneralInfoController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_AccNum_ChnlName</targetReference>
        </connector>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>interactionCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Intents</name>
        <label>Get Intents</label>
        <locationX>569</locationX>
        <locationY>275</locationY>
        <actionName>ContactIntentController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Intent_Fetch_Success</targetReference>
        </connector>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>reqInputParams</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_AccNum_ChnlName</name>
        <label>Assign AccNum &amp; ChnlName</label>
        <locationX>400</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>reqInputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Number.accountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reqInputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>COMPASS_CS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Intents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intent_Objects</name>
        <label>Assign Intent Objects</label>
        <locationX>911</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>intentObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Intents.response.intents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Customer_Intents</name>
        <label>Extract Customer Intents</label>
        <locationX>1029</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>customerIntents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through.customerIntent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Intent_Fetch_Success</name>
        <label>Intent Fetch Success ?</label>
        <locationX>723</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Display_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intents.statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intent_Objects</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <interviewLabel>Launcher Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Launcher Flow</label>
    <loops>
        <name>Loop_through</name>
        <label>Loop through</label>
        <locationX>1031</locationX>
        <locationY>278</locationY>
        <collectionReference>intentObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_Customer_Intents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sample</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>733</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px; color: rgb(234, 34, 34);&quot;&gt;Error&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sample</name>
        <label>sample</label>
        <locationX>1234</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayRadioBtns</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>customerIntents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Predicted Call Intents</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Test_Accept_Case_Id</name>
        <label>Test Accept Case Id</label>
        <locationX>81</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Number</targetReference>
        </connector>
        <fields>
            <name>interactionCaseId</name>
            <dataType>String</dataType>
            <fieldText>Enter Case Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>Test_Accept_Case_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerIntents</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>intentObjects</name>
        <apexClass>Intent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reqInputParams</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
