force-app/main/default/flows/Payment_Decline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OverrideTransactionAction</name>
        <label>OverrideTransactionAction</label>
        <locationX>283</locationX>
        <locationY>836</locationY>
        <actionName>Override_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Override_Status_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authFlowContextId</name>
            <value>
                <elementReference>AuthFlowContextId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>AuthPassed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PASSED</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_RootCause</name>
        <label>Check RootCause</label>
        <locationX>276</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Not_a_Valid_Decline_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a valid Decline Type</defaultConnectorLabel>
        <rules>
            <name>Non_Risk_Decline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISSUER DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MERCHANT DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESTRICTION NON ATO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Risk_Decline_Flow</targetReference>
            </connector>
            <label>Non Risk Decline</label>
        </rules>
        <rules>
            <name>Risk_Decline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATO DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUTH FLOW DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC DECLINE – WAX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Decline – Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restriction - ATO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restriction - Non ATO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collusion Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USBM Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paypal Debit Card/ Virtual Card Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tokenization Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paypal Credit/PP MasterCard Decline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Up_Flow</targetReference>
            </connector>
            <label>Risk Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAuthPassed</name>
        <label>IsAuthPassed</label>
        <locationX>275</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OverrideTransaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AuthPassed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OverrideTransactionAction</targetReference>
            </connector>
            <label>OverrideTransaction</label>
        </rules>
    </decisions>
    <formulas>
        <name>LabelFormula_AuthFailed</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_AuthFailed}</expression>
    </formulas>
    <interviewLabel>Payment Decline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Decline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>633</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 9, 9);&quot;&gt;ERROR&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failed</name>
        <label>Failed</label>
        <locationX>490</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthFailText</name>
            <fieldText>&lt;p&gt;{!LabelFormula_AuthFailed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_a_Valid_Decline_Type</name>
        <label>Not a Valid Decline Type</label>
        <locationX>20</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>wrong_decline_type</name>
            <fieldText>&lt;p&gt;Wrong Decline Type, so can not be overridden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Override_Status_Screen</name>
        <label>Show Override Status Screen</label>
        <locationX>78</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowOverrideStatus</name>
            <fieldText>&lt;p&gt;{!OverrideTransactionAction.overrideRespone.override_duration}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>158</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Check_RootCause</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Non_Risk_Decline_Flow</name>
        <label>Non Risk Decline Flow</label>
        <locationX>524</locationX>
        <locationY>300</locationY>
        <flowName>NonStepUp</flowName>
    </subflows>
    <subflows>
        <name>Step_Up_Flow</name>
        <label>Step Up Flow</label>
        <locationX>283</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>IsAuthPassed</targetReference>
        </connector>
        <flowName>Step_Up_Flow</flowName>
        <inputAssignments>
            <name>AccountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AuthFlowContextId</name>
            <value>
                <elementReference>AuthFlowContextId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resolution_condition</name>
            <value>
                <elementReference>resolution_condition</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AuthStatus</assignToReference>
            <name>AuthStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthFlowContextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resolution_condition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rootcause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
