force-app/main/default/flows/Payment_Decline_Kaila.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignTransaction</name>
        <label>AssignTransaction</label>
        <locationX>481</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>varTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$500 USD Attempted Payment Attempted payment on AliExpress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$250 USD Attempted Payment Attempted payment on Amazon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$350 USD Attempted Payment Attempted payment on Amazon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Payment Decline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRootCause</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Root Cause: {!Rootcause}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIconPD</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:lower_flag</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Page</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RootCause</name>
        <label>Check RootCause</label>
        <locationX>277</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Not_a_Valid_Decline_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a valid Decline Type</defaultConnectorLabel>
        <rules>
            <name>Non_Risk_Decline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISSUER DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MERCHANT DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESTRICTION NON ATO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Risk_Decline_Flow</targetReference>
            </connector>
            <label>Non Risk Decline</label>
        </rules>
        <rules>
            <name>Risk_Decline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATO DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUTH FLOW DECLINE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC DECLINE – WAX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Decline – Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restriction - ATO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restriction - Non ATO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collusion Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USBM Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paypal Debit Card/ Virtual Card Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tokenization Decline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rootcause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paypal Credit/PP MasterCard Decline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Up_Flow</targetReference>
            </connector>
            <label>Risk Decline</label>
        </rules>
    </decisions>
    <description>KF edits 8/27</description>
    <formulas>
        <name>varFormula</name>
        <dataType>String</dataType>
        <expression>&lt;b&gt;TEST&lt;b&gt;</expression>
    </formulas>
    <interviewLabel>Payment Decline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Decline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation_Page</name>
        <label>Confirmation Page</label>
        <locationX>284</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_RootCause</targetReference>
        </connector>
        <fields>
            <name>DisplayIntent</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIconPD</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varIntent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varRootCause</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Call Intent:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>buffer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mark_as_Incorrect_Intent</name>
            <dataType>Boolean</dataType>
            <fieldText>Mark as Incorrect Intent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TransactionList</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varTransactionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select the transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varSelectedTransaction</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedTransaction</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_a_Valid_Decline_Type</name>
        <label>Not a Valid Decline Type</label>
        <locationX>20</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>wrong_decline_type</name>
            <fieldText>&lt;p&gt;Wrong Decline Type, so can not be overridden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>158</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>AssignTransaction</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Non_Risk_Decline_Flow</name>
        <label>Non Risk Decline Flow</label>
        <locationX>524</locationX>
        <locationY>300</locationY>
        <flowName>NonStepUp</flowName>
    </subflows>
    <subflows>
        <name>Step_Up_Flow</name>
        <label>Step Up Flow</label>
        <locationX>283</locationX>
        <locationY>544</locationY>
        <flowName>Step_Up_Flow</flowName>
        <inputAssignments>
            <name>varIconPD</name>
            <value>
                <elementReference>varIconPD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIntent</name>
            <value>
                <elementReference>varIntent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRootCause</name>
            <value>
                <elementReference>varRootCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedTransaction</name>
            <value>
                <elementReference>varSelectedTransaction</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OverrideAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Rootcause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hosts icon for payment decline in picklist card</description>
        <name>varIconPD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIntent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRootCause</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the transaction causing the payment decline</description>
        <name>varSelectedTransaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>For holding the list of transactions for teammate to select from</description>
        <name>varTransactionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
