force-app/main/default/flows/Step_Up_Flow_Kaila.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Phone_Action</name>
        <label>Add Phone Action</label>
        <locationX>1813</locationX>
        <locationY>444</locationY>
        <actionName>AddTrustedPhone_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Phone_Added</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country_code</name>
            <value>
                <elementReference>Enter_Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>EnteredNumber</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_OTP_Action</name>
        <label>Generate OTP Action</label>
        <locationX>1533</locationX>
        <locationY>809</locationY>
        <actionName>OTPGenerator_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_OTP_Generated</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country_code</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.country_code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.phone_number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Auth_Options_Action</name>
        <label>Get Auth Options Action</label>
        <locationX>360</locationX>
        <locationY>275</locationY>
        <actionName>GetAuthOptions_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignAuthOptions</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authFlowContextId</name>
            <value>
                <elementReference>AuthFlowContextId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_KBA_Questions</name>
        <label>Get KBA Questions</label>
        <locationX>968</locationX>
        <locationY>250</locationY>
        <actionName>GetKBAQuestions_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignKbaQuestions</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_KBA_Answers</name>
        <label>Validate KBA Answers</label>
        <locationX>658</locationX>
        <locationY>408</locationY>
        <actionName>ValidateKBA_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Auth_Status</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>answers</name>
            <value>
                <elementReference>AnswerObjectCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_OTP_Action</name>
        <label>Validate OTP Action</label>
        <locationX>913</locationX>
        <locationY>863</locationY>
        <actionName>OTPValidation_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Auth_Status</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>answer</name>
            <value>
                <elementReference>Entered_OTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country_code</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.country_code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.phone_number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddAnswerToCollection</name>
        <label>AddAnswerToCollection</label>
        <locationX>830</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>AnswerObjectCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnswerObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopKbaQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPhoneToTextCollection</name>
        <label>AddPhoneToTextCollection</label>
        <locationX>1543</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>PhoneTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaToCreatePhoneText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPhoneNumbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddStatus</name>
        <label>AssignAddStatus</label>
        <locationX>1716</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>AddPhoneExecuted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddPhoneStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPhones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAuthOptions</name>
        <label>AssignAuthOptions</label>
        <locationX>391</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>AvailableOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.availableOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChallengeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.challenge_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowAuthoptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignKbaQuestions</name>
        <label>AssignKbaQuestions</label>
        <locationX>830</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>KbaQuestionsObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_KBA_Questions.stepup.kba.questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopKbaQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOptions</name>
        <label>AssignOption</label>
        <locationX>1171</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOptions.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuestionIdOptions</name>
        <label>AssignQuestionIdOptions</label>
        <locationX>999</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopKbaQuestions.question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptionsObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopKbaQuestions.options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedAnswer</name>
        <label>AssignSelectedAnswer</label>
        <locationX>831</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>AnswerObject.question_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopKbaQuestions.question_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnswerObject.answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedKbaAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAnswerToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSendingOTPFailed</name>
        <label>AssignSendingOTPFailed</label>
        <locationX>1350</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>GenerateOTPFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPhones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSmsDetails</name>
        <label>AssignSmsDetails</label>
        <locationX>1168</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>PhoneNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.sms.phone_numbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CanAddPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.sms.can_add_phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPhoneNumbers</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AuthPassed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PASSED</stringValue>
        </value>
    </constants>
    <constants>
        <name>IN_PROGRESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IN_PROGRESS</stringValue>
        </value>
    </constants>
    <constants>
        <name>KBA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>kba</stringValue>
        </value>
    </constants>
    <constants>
        <name>No_Auth_Required</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NO_AUTH_REQUIRED</stringValue>
        </value>
    </constants>
    <constants>
        <name>OTP_SENT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OTP_SENT</stringValue>
        </value>
    </constants>
    <constants>
        <name>SMS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>sms</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Auth_Status</name>
        <label>Check Auth Status</label>
        <locationX>648</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Auth_Failed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auth_Passed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Validate_OTP_Action.stepup.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AuthPassed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_KBA_Answers.stepup.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AuthPassed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auth_Passed_Screen</targetReference>
            </connector>
            <label>Auth Passed</label>
        </rules>
        <rules>
            <name>InProgress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Validate_OTP_Action.stepup.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IN_PROGRESS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_KBA_Answers.stepup.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IN_PROGRESS</elementReference>
                </rightValue>
            </conditions>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelectedAuthOption</name>
        <label>CheckSelectedAuthOption</label>
        <locationX>958</locationX>
        <locationY>81</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAuthOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSmsDetails</targetReference>
            </connector>
            <label>SMS Flow</label>
        </rules>
        <rules>
            <name>KBA_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAuthOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KBA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KBA_Questions</targetReference>
            </connector>
            <label>KBA Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OTP_Generated</name>
        <label>Is OTP Sent</label>
        <locationX>1344</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>AssignSendingOTPFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTPSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_OTP_Action.stepup.sms.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTP_SENT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_OTP_Screen</targetReference>
            </connector>
            <label>Yes OTP Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Phone_Added</name>
        <label>Is Phone Added</label>
        <locationX>1960</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>AssignAddStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Phone_Action.stepup.sms.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowPhones</targetReference>
            </connector>
            <label>Phone Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAddPhoneOrSendOTP</name>
        <label>IsAddPhoneOrSendOTP</label>
        <locationX>1610</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>LoopNumbersToFindSelectedPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generate OTP</defaultConnectorLabel>
        <rules>
            <name>AddPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Phone_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Phone_Action</targetReference>
            </connector>
            <label>AddPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAuthRequired</name>
        <label>Is Auth Required</label>
        <locationX>168</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Get_Auth_Options_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoAuthRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resolution_condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Auth_Required</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Auth_Required_Screen</targetReference>
            </connector>
            <label>No Auth Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFoundSelectedPhone</name>
        <label>IsFoundSelectedPhone</label>
        <locationX>1844</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>LoopNumbersToFindSelectedPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Selected_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormulaToFindSelectedPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_OTP_Action</targetReference>
            </connector>
            <label>Found Selected Phone</label>
        </rules>
    </decisions>
    <description>KF edits 8/28</description>
    <formulas>
        <name>FormulaToCreatePhoneText</name>
        <dataType>String</dataType>
        <expression>{!LoopPhoneNumbers.country_code}&amp;&quot;-&quot;&amp;{!LoopPhoneNumbers.phone_number}</expression>
    </formulas>
    <formulas>
        <name>FormulaToFindSelectedPhone</name>
        <dataType>String</dataType>
        <expression>{!LoopNumbersToFindSelectedPhone.country_code}&amp;&quot;-&quot;&amp;{!LoopNumbersToFindSelectedPhone.phone_number}</expression>
    </formulas>
    <interviewLabel>Stepu Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step Up Flow</label>
    <loops>
        <name>LoopKbaQuestions</name>
        <label>LoopKbaQuestions</label>
        <locationX>830</locationX>
        <locationY>403</locationY>
        <collectionReference>KbaQuestionsObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQuestionIdOptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_KBA_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNumbersToFindSelectedPhone</name>
        <label>LoopNumbersToFindSelectedPhone</label>
        <locationX>1515</locationX>
        <locationY>594</locationY>
        <collectionReference>PhoneNumbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsFoundSelectedPhone</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopOptions</name>
        <label>LoopOptions</label>
        <locationX>999</locationX>
        <locationY>538</locationY>
        <collectionReference>OptionsObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>KBA_Questions_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPhoneNumbers</name>
        <label>LoopPhoneNumbers</label>
        <locationX>1349</locationX>
        <locationY>78</locationY>
        <collectionReference>PhoneNumbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPhoneToTextCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShowPhones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Alternative_Screen</name>
        <label>Alternative Screen</label>
        <locationX>605</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayIntentAlt</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIconPD</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varIntent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varRootCause</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Predicted Call Intent:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SMSOptions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;SMS/ Text Options for Step Up&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SMSQuickChoice</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>PhoneTextCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Acknowledgement</name>
            <dataType>Boolean</dataType>
            <fieldText>Acknowledgement that you have read the guidance to the customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AutoDial</name>
            <dataType>Boolean</dataType>
            <fieldText>Click here if the customer agrees to receiving SMS and Auto-Dialc ontacts from PayPal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SecondaryMethod</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Secondary Step Up Method&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KBAStepUp</name>
            <dataType>Boolean</dataType>
            <fieldText>Knowledge Based Authentication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Auth_Failed_Screen</name>
        <label>Auth Failed</label>
        <locationX>478</locationX>
        <locationY>1039</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthFailedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Auth Failed&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Auth_Passed_Screen</name>
        <label>Auth Passed</label>
        <locationX>658</locationX>
        <locationY>1048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayAuthPassed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Auth Passed&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_OTP_Screen</name>
        <label>Enter OTP</label>
        <locationX>1248</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_OTP_Action</targetReference>
        </connector>
        <fields>
            <name>Entered_OTP</name>
            <dataType>String</dataType>
            <fieldText>Enter Customer Provided OTP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KBA_Questions_Screen</name>
        <label>KBA Questions Screen</label>
        <locationX>1000</locationX>
        <locationY>721</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignSelectedAnswer</targetReference>
        </connector>
        <fields>
            <name>DisplayQuestions</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>{!Question}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedKbaAnswer</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Auth_Required_Screen</name>
        <label>No Auth Required</label>
        <locationX>196</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayAuthNotRequired</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No Auth Required&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowAuthoptions</name>
        <label>ShowAuthoptions</label>
        <locationX>601</locationX>
        <locationY>81</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckSelectedAuthOption</targetReference>
        </connector>
        <fields>
            <name>DisplayIntent</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>varIconPD</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>varIntent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>varRootCause</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Predicted Call Intent:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplaySelectedTransaction</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varSelectedTransaction}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAuthOptions</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>AvailableOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Auth Options</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAuthOption</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowPhones</name>
        <label>ShowPhones</label>
        <locationX>1349</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAddPhoneOrSendOTP</targetReference>
        </connector>
        <fields>
            <name>AddPhoneFailedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Couldn&apos;t Add Phone&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddPhoneStatus</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AddPhoneExecuted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GenerateOTPFailedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Couldn&apos;t Send OTP to Selected Phone&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GenerateOTPFailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayPhoneNumbers</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>PhoneTextCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Add_Phone_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CanAddPhone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Country_Code</name>
            <dataType>String</dataType>
            <fieldText>Enter Country Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Phone_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EnterNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredNumber</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Phone_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsAuthRequired</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddPhoneExecuted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddPhoneStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerObject</name>
        <apexClass>Answer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerObjectCollection</name>
        <apexClass>Answer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFlowContextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvailableOptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CanAddPhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChallengeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnteredNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenerateOTPFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KbaQuestionsObject</name>
        <apexClass>Questions</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KbaValidationObject</name>
        <apexClass>KbaValidation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Options</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptionsObject</name>
        <apexClass>Options</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumbers</name>
        <apexClass>PhoneNumber</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resolution_condition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAuthOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedKbaAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>passes icon from parent flow</description>
        <name>varIconPD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIntent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>passes root cause from parent flow</description>
        <name>varRootCause</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>passes selected transaction</description>
        <name>varSelectedTransaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
