force-app/main/default/flows/Step_Up_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Phone_Action</name>
        <label>Add Phone Action</label>
        <locationX>1813</locationX>
        <locationY>444</locationY>
        <actionName>AddTrustedPhone_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Phone_Added</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country_code</name>
            <value>
                <elementReference>Enter_Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>EnteredNumber</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_OTP_Action</name>
        <label>Generate OTP Action</label>
        <locationX>1533</locationX>
        <locationY>809</locationY>
        <actionName>OTPGenerator_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_OTP_Generated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country_code</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.country_code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.phone_number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Auth_Options_Action</name>
        <label>Get Auth Options Action</label>
        <locationX>391</locationX>
        <locationY>275</locationY>
        <actionName>GetAuthOptions_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignAuthOptions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authFlowContextId</name>
            <value>
                <elementReference>AuthFlowContextId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_KBA_Questions</name>
        <label>Get KBA Questions</label>
        <locationX>955</locationX>
        <locationY>270</locationY>
        <actionName>GetKBAQuestions_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignKbaQuestions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_KBA_Answers</name>
        <label>Validate KBA Answers</label>
        <locationX>764</locationX>
        <locationY>413</locationY>
        <actionName>ValidateKBA_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateKbaAnswers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>answers</name>
            <value>
                <elementReference>AnswerObjectCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_OTP_Action</name>
        <label>Validate OTP Action</label>
        <locationX>913</locationX>
        <locationY>863</locationY>
        <actionName>OTPValidation_FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ReassignDetailsAfterValiadteOTP</targetReference>
        </connector>
        <inputParameters>
            <name>accountNumber</name>
            <value>
                <elementReference>AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>answer</name>
            <value>
                <elementReference>Entered_OTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>challenge_id</name>
            <value>
                <elementReference>ChallengeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country_code</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.country_code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>LoopNumbersToFindSelectedPhone.phone_number</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddAnswerToCollection</name>
        <label>AddAnswerToCollection</label>
        <locationX>943</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>AnswerObjectCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnswerObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopKbaQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPhoneToTextCollection</name>
        <label>AddPhoneToTextCollection</label>
        <locationX>1541</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>PhoneTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaToCreatePhoneText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPhoneNumbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddedPhoneToList</name>
        <label>AssignAddedPhoneToList</label>
        <locationX>1681</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>AddedPhoneObject.country_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Country_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddedPhoneObject.phone_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnteredNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhoneTextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaForAddedPhoneText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhoneNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddedPhoneObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPhones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddStatus</name>
        <label>AssignAddStatus</label>
        <locationX>1716</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>AddPhoneExecuted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddPhoneStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPhones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAuthOptions</name>
        <label>AssignAuthOptions</label>
        <locationX>391</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>AvailableOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.availableOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChallengeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.challenge_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowAuthoptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignKbaQuestions</name>
        <label>AssignKbaQuestions</label>
        <locationX>1134</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>KbaQuestionsObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_KBA_Questions.stepup.kba.questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopKbaQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOptions</name>
        <label>AssignOption</label>
        <locationX>1219</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOptions.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPendingQuestions</name>
        <label>AssignPendingQuestions</label>
        <locationX>668</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>KbaQuestionsObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_KBA_Answers.stepup.kba.questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopKbaQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhoneNumbers</name>
        <label>assignPhoneNumbers</label>
        <locationX>1095</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>PhoneNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.sms.phone_numbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CanAddPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auth_Options_Action.stepup.sms.can_add_phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPhoneNumbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuestionIdOptions</name>
        <label>AssignQuestionIdOptions</label>
        <locationX>1158</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopKbaQuestions.question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptionsObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopKbaQuestions.options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedAnswer</name>
        <label>AssignSelectedAnswer</label>
        <locationX>831</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>AnswerObject.question_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopKbaQuestions.question_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnswerObject.answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedKbaAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAnswerToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSendingOTPFailed</name>
        <label>AssignSendingOTPFailed</label>
        <locationX>1350</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>GenerateOTPFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPhones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReassignDetailsAfterValiadteOTP</name>
        <label>ReassignDetailsAfterValiadteOTP</label>
        <locationX>764</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AvailableOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_OTP_Action.stepup.availableOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChallengeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_OTP_Action.stepup.challenge_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddPhoneExecuted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhoneTextCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>PhoneTextCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_OTP_Action.stepup.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Auth_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReassignDetailsAfterValidateKBA</name>
        <label>ReassignDetailsAfterValidateKBA</label>
        <locationX>663</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>AvailableOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_KBA_Answers.stepup.availableOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChallengeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_KBA_Answers.stepup.challenge_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_KBA_Answers.stepup.status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Auth_Status</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AuthPassed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PASSED</stringValue>
        </value>
    </constants>
    <constants>
        <name>IN_PROGRESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IN_PROGRESS</stringValue>
        </value>
    </constants>
    <constants>
        <name>KBA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>kba</stringValue>
        </value>
    </constants>
    <constants>
        <name>KBAFailed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FAILED</stringValue>
        </value>
    </constants>
    <constants>
        <name>No_Auth_Required</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NO_AUTH_REQUIRED</stringValue>
        </value>
    </constants>
    <constants>
        <name>OTP_SENT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OTP_SENT</stringValue>
        </value>
    </constants>
    <constants>
        <name>SMS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>sms</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Auth_Status</name>
        <label>Check Auth Status</label>
        <locationX>581</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InProgress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AuthStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IN_PROGRESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowAuthoptions</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelectedAuthOption</name>
        <label>CheckSelectedAuthOption</label>
        <locationX>968</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAuthOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPhoneNumbers</targetReference>
            </connector>
            <label>SMS Flow</label>
        </rules>
        <rules>
            <name>KBA_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAuthOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KBA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KBA_Questions</targetReference>
            </connector>
            <label>KBA Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OTP_Generated</name>
        <label>Is OTP Sent</label>
        <locationX>1344</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>AssignSendingOTPFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTPSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_OTP_Action.stepup.sms.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTP_SENT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_OTP_Screen</targetReference>
            </connector>
            <label>Yes OTP Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Phone_Added</name>
        <label>Is Phone Added</label>
        <locationX>1928</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>AssignAddStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Phone_Action.stepup.sms.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAddedPhoneToList</targetReference>
            </connector>
            <label>Phone Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAddPhoneOrSendOTP</name>
        <label>IsAddPhoneOrSendOTP</label>
        <locationX>1610</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>LoopNumbersToFindSelectedPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generate OTP</defaultConnectorLabel>
        <rules>
            <name>AddPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Phone_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Phone_Action</targetReference>
            </connector>
            <label>AddPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAuthRequired</name>
        <label>Is Auth Required</label>
        <locationX>168</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Get_Auth_Options_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoAuthRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resolution_condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Auth_Required</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Auth_Required_Screen</targetReference>
            </connector>
            <label>No Auth Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFoundSelectedPhone</name>
        <label>IsFoundSelectedPhone</label>
        <locationX>1844</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>LoopNumbersToFindSelectedPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Selected_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormulaToFindSelectedPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_OTP_Action</targetReference>
            </connector>
            <label>Found Selected Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateKbaAnswers</name>
        <label>ValidateKbaAnswers</label>
        <locationX>660</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>ReassignDetailsAfterValidateKBA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_KBA_Answers.stepup.kba.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KBAFailed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_KBA_Answers.stepup.availableOptions</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>KBA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPendingQuestions</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaForAddedPhoneText</name>
        <dataType>String</dataType>
        <expression>{!Enter_Country_Code}&amp;&quot;-&quot;&amp;{!EnteredNumber}</expression>
    </formulas>
    <formulas>
        <name>FormulaToCreatePhoneText</name>
        <dataType>String</dataType>
        <expression>{!LoopPhoneNumbers.country_code}&amp;&quot;-&quot;&amp;{!LoopPhoneNumbers.phone_number}</expression>
    </formulas>
    <formulas>
        <name>FormulaToFindSelectedPhone</name>
        <dataType>String</dataType>
        <expression>{!LoopNumbersToFindSelectedPhone.country_code}&amp;&quot;-&quot;&amp;{!LoopNumbersToFindSelectedPhone.phone_number}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_AddPhone</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_AddPhone}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_AuthFailed</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_AuthFailed}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_AuthPassed</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_AuthPassed}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_CouldntAddPhone</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_CouldntAddPhone}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_CouldntSendOTP</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_CouldntSendOTP}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_CountryCode</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_EnterCountryCode}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_EnterNumber</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_EnterNumber}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_EnterOTP</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_EnterOTP}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_NoAuthRequired</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_NoAuthRequired}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_SelectAuthOption</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_AuthOption}</expression>
    </formulas>
    <formulas>
        <name>LabelFormula_SelectPhone</name>
        <dataType>String</dataType>
        <expression>{!$Label.StepUpFlow_SelectPhone}</expression>
    </formulas>
    <interviewLabel>Stepu Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Step Up Flow</label>
    <loops>
        <name>LoopKbaQuestions</name>
        <label>LoopKbaQuestions</label>
        <locationX>938</locationX>
        <locationY>406</locationY>
        <collectionReference>KbaQuestionsObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQuestionIdOptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_KBA_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNumbersToFindSelectedPhone</name>
        <label>LoopNumbersToFindSelectedPhone</label>
        <locationX>1515</locationX>
        <locationY>598</locationY>
        <collectionReference>PhoneNumbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsFoundSelectedPhone</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopOptions</name>
        <label>LoopOptions</label>
        <locationX>1063</locationX>
        <locationY>538</locationY>
        <collectionReference>OptionsObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>KBA_Questions_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPhoneNumbers</name>
        <label>LoopPhoneNumbers</label>
        <locationX>1349</locationX>
        <locationY>80</locationY>
        <collectionReference>PhoneNumbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPhoneToTextCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShowPhones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Enter_OTP_Screen</name>
        <label>Enter OTP</label>
        <locationX>1248</locationX>
        <locationY>863</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_OTP_Action</targetReference>
        </connector>
        <fields>
            <name>Entered_OTP</name>
            <dataType>String</dataType>
            <fieldText>{!LabelFormula_EnterOTP}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>404</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(221, 7, 7);&quot;&gt;ERROR&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>KBA_Questions_Screen</name>
        <label>KBA Questions Screen</label>
        <locationX>1058</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignSelectedAnswer</targetReference>
        </connector>
        <fields>
            <name>DisplayQuestions</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>{!Question}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedKbaAnswer</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Auth_Required_Screen</name>
        <label>No Auth Required</label>
        <locationX>176</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayAuthNotRequired</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!LabelFormula_NoAuthRequired}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowAuthoptions</name>
        <label>ShowAuthoptions</label>
        <locationX>576</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckSelectedAuthOption</targetReference>
        </connector>
        <fields>
            <name>DisplayAuthOptions</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>AvailableOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>{!LabelFormula_SelectAuthOption}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAuthOption</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowPhones</name>
        <label>ShowPhones</label>
        <locationX>1349</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAddPhoneOrSendOTP</targetReference>
        </connector>
        <fields>
            <name>AddPhoneFailedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!LabelFormula_CouldntAddPhone}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddPhoneStatus</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AddPhoneExecuted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GenerateOTPFailedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!LabelFormula_CouldntSendOTP}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GenerateOTPFailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayPhoneNumbers</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>PhoneTextCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>{!LabelFormula_SelectPhone}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Add_Phone_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>{!LabelFormula_AddPhone}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CanAddPhone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Country_Code</name>
            <dataType>String</dataType>
            <fieldText>{!LabelFormula_CountryCode}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Phone_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EnterNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>LabelFormula_EnterNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredNumber</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Phone_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsAuthRequired</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddedPhoneObject</name>
        <apexClass>PhoneNumber</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddPhoneExecuted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddPhoneStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerObject</name>
        <apexClass>Answer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerObjectCollection</name>
        <apexClass>Answer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApexError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFlowContextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AvailableOptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CanAddPhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChallengeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnteredNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenerateOTPFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KbaQuestionsObject</name>
        <apexClass>Questions</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KbaValidationObject</name>
        <apexClass>KbaValidation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Options</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptionsObject</name>
        <apexClass>Options</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumbers</name>
        <apexClass>PhoneNumber</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resolution_condition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAuthOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedKbaAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
